footer{

    margin-top: 65vh;
    /* position: fixed; */
}

#cad-img-span{
    /* float: left; */

}
.display-4{
    font-size:3rem;
}
.lead{
    padding-left: 10%;
}
.container{
    align-items: center;
}
.row{
    justify-content: center;
    margin-top: 3rem;
}
input{
    border-radius: 5px;
    border: 1px solid black;
    padding-right: 5rem;
    padding-left: 0.3rem;
    margin-left: 0.3rem;
}

#ra, .rad-marg{
    margin-left: 1.3rem;
}
