.display-4{
    font-size: 50px;
}
.footer{
    margin-top:20%;
    /* position: absolute; */
}
.row{
    display: grid;
    /* justify-content: center; */
    margin-top: 0.7rem;
}
.container table{
    background-color: #2AC8A9;
    color: white;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    border-radius: 6px;
}
.dropdown-icon{
    width:2rem;
	height: 1.3rem;
}
td input{
    border-radius: 5px;
    text-align: center;
}